.rs-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
}
.rs-header._header-scroll {
  color: var(--font-color);
  background-color: #fff;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-bottom-color: #d6dbe0;
}
@media (min-width: 991.98px) {
  .lock .rs-header {
    padding-right: 5px;
  }
}
.rs-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .rs-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.rs-header__top {
  padding: 17px 0px;
  background-color: #eceeef;
  font-weight: 500;
  font-size: 14px;
  color: #363b49;
}
@media (max-width: 1439.98px) {
  .rs-header__top {
    padding: 8px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-header__top {
    display: none;
  }
}
.rs-header__location {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  margin: -16px 0px;
  padding: 16px 0px;
}
.rs-header__location svg {
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 1439.98px) {
  .rs-header__location {
    padding: 8px 0px;
    margin: -8px 0px;
  }
}
.rs-header__location_text._hide-text {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1569.98px) {
  .rs-header__location_text._hide-text {
    max-width: 400px;
  }
}
@media (max-width: 1439.98px) {
  .rs-header__location_text._hide-text {
    max-width: 300px;
  }
}
@media (max-width: 1169.98px) {
  .rs-header__location_text._hide-text {
    max-width: 200px;
  }
}
.rs-header__location_text._hide-text::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 6L8 10L12 6' stroke='%236366F1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 6L8 10L12 6' stroke='%236366F1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
  position: absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.rs-header__location_modal {
  position: absolute;
  top: 100%;
  left: -20px;
  right: -20px;
  width: calc(100% + 40px);
  background-color: #fff;
  padding: 24px 20px;
  border-radius: 8px;
  z-index: 10;
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1439.98px) {
  .rs-header__location_modal {
    left: -10px;
    right: -10px;
    width: calc(100% + 20px);
    padding: 16px;
  }
}
.rs-header__location:hover .rs-header__location_modal {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  pointer-events: unset;
}
.rs-header__location:hover .rs-header__location_text::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.rs-header__contact {
  margin: 0px 0px 0px 80px;
}
@media (max-width: 1169.98px) {
  .rs-header__contact {
    margin-left: 50px;
  }
}
.rs-header__contact .contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-header__contact .contact__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.rs-header__contact .contact__list li:not(:last-child) {
  margin-right: 24px;
}
@media (max-width: 1439.98px) {
  .rs-header__contact .contact__list li:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 1169.98px) {
  .rs-header__contact .contact__list li:not(:last-child) {
    margin-right: 15px;
  }
}
.rs-header__contact .contact__list li svg {
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.rs-header__contact .contact__list li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  position: relative;
}
@media (any-hover: hover) {
  .rs-header__contact .contact__list li a:hover::after {
    width: 100%;
    left: 0;
  }
}
.rs-header__contact .contact__list li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: currentColor;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
.rs-header__body {
  padding: 16px 0px;
  position: relative;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .rs-header__body {
    padding: 8px 0px;
  }
}
.rs-header__logo {
  max-width: 157px;
  max-height: 48px;
}
@media (max-width: 1439.98px) {
  .rs-header__logo {
    max-width: 120px;
    max-height: 40px;
  }
}
.rs-header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.rs-header__logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-header__block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 991.98px) {
  .rs-header__block {
    margin-left: 43px;
  }
}
@media (min-width: 991.98px) and (max-width: 1569.98px) {
  .rs-header__block {
    margin-left: 25px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-header__block {
    margin-left: 15px;
  }
}
@media (min-width: 991.98px) and (max-width: 1169.98px) {
  .rs-header__block {
    margin-left: 10px;
  }
}
@media (max-width: 991.98px) {
  .rs-header__block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .rs-header__block > .rs-btn {
    display: none;
  }
}
.rs-header__wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 991.98px) {
  .rs-header__wrapper {
    position: relative;
    z-index: 10;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 991.98px) {
  .rs-header__wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 991.98px) {
  .rs-header__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.rs-header__menu .menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  padding: 12px 18px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__icon {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .rs-header__menu .menu__icon {
    padding: 8px 16px;
  }
}
.rs-header__menu .menu__icon_burger {
  width: 17px;
  height: 17px;
}
.rs-header__menu .menu__icon_burger svg {
  width: 100%;
  height: 100%;
}
.rs-header__menu .menu__icon_burger svg path {
  stroke: var(--primary-color);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rs-header__menu .menu__icon_text {
  margin-left: 4px;
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 160%;
  color: var(--primary-color);
}
.rs-header__menu .menu__icon_text span:first-child {
  display: block;
}
.rs-header__menu .menu__icon_text span:last-child {
  display: none;
}
.menu-open .rs-header__menu .menu__icon {
  background-color: transparent;
}
.menu-open .rs-header__menu .menu__icon .menu__icon_text {
  color: var(--font-color);
}
.menu-open .rs-header__menu .menu__icon .menu__icon_text span:first-child {
  display: none;
}
.menu-open .rs-header__menu .menu__icon .menu__icon_text span:last-child {
  display: block;
}
.menu-open .rs-header__menu .menu__icon .menu__icon_burger svg path {
  stroke: var(--primary-color);
}
.menu-open .rs-header__menu .menu__icon .menu__icon_burger svg path:nth-child(1) {
  -webkit-transform: rotate(-45deg) translateY(3.5px) translateX(-8.5px);
      -ms-transform: rotate(-45deg) translateY(3.5px) translateX(-8.5px);
          transform: rotate(-45deg) translateY(3.5px) translateX(-8.5px);
}
.menu-open .rs-header__menu .menu__icon .menu__icon_burger svg path:nth-child(2) {
  opacity: 0;
}
.menu-open .rs-header__menu .menu__icon .menu__icon_burger svg path:nth-child(3) {
  -webkit-transform: rotate(45deg) translateY(-13px) translateX(3.5px);
      -ms-transform: rotate(45deg) translateY(-13px) translateX(3.5px);
          transform: rotate(45deg) translateY(-13px) translateX(3.5px);
}
@media (max-width: 991.98px) {
  .rs-header__menu .menu__block {
    position: absolute;
    width: 100%;
    max-height: calc(100vh - 78px);
    min-height: calc(100vh - 78px);
    top: 100%;
    -webkit-transform: translateX(-150%);
        -ms-transform: translateX(-150%);
            transform: translateX(-150%);
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-open .rs-header__menu .menu__block {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .dropdown-menu-open .rs-header__menu .menu__block {
    overflow: hidden;
  }
  .rs-header__menu .menu__block::-webkit-scrollbar {
    width: 0px;
  }
  .rs-header__menu .menu__block > * {
    width: 100%;
    padding: 20px 16px;
  }
}
@media (max-width: 767.98px) {
  .rs-header__menu .menu__block {
    max-height: calc(100vh - 54px);
    min-height: calc(100vh - 54px);
  }
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__block {
    height: 100%;
  }
  .rs-header__menu .menu__block .menu__contact,
  .rs-header__menu .menu__block .rs-header__social {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__body {
    height: 100%;
  }
}
.rs-header__menu .menu__contact > h6 {
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  margin-bottom: 20px;
}
.rs-header__menu .menu__contact > .rs-btn {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__list {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__list > li {
    height: calc(100% + 29px);
  }
  .rs-header__menu .menu__list > li:not(:last-child) {
    margin-right: 24.5px;
  }
}
@media (min-width: 991.98px) and (max-width: 1569.98px) {
  .rs-header__menu .menu__list > li:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-header__menu .menu__list > li:not(:last-child) {
    margin-right: 15px;
  }
}
@media (min-width: 991.98px) and (max-width: 1169.98px) {
  .rs-header__menu .menu__list > li:not(:last-child) {
    margin-right: 10px;
  }
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__list > li > a {
    height: 100%;
  }
}
.rs-header__menu .menu__list > li > a span {
  position: relative;
}
.rs-header__menu .menu__list > li > a span:after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: currentColor;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__list li {
    position: relative;
  }
}
@media (max-width: 991.98px) {
  .rs-header__menu .menu__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rs-header__menu .menu__list li:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (any-hover: hover) {
  .rs-header__menu .menu__list li:hover > a {
    color: var(--primary-color) !important;
  }
  .rs-header__menu .menu__list li:hover > a span::after {
    width: 100%;
    left: 0;
  }
}
.rs-header__menu .menu__list li > i, .rs-header__menu .menu__list li > button {
  display: inline-block;
  margin: 0px 0px 0px auto;
  width: 13px;
  height: 13px;
  position: relative;
  z-index: 10;
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__list li > i, .rs-header__menu .menu__list li > button {
    display: none;
  }
}
.rs-header__menu .menu__list li > i::before, .rs-header__menu .menu__list li > button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/icons/caret-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rs-header__menu .menu__list li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  gap: 4px;
}
.rs-header__menu .menu__list li a svg {
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.rs-header__menu .menu__list li.current_menu_item > a {
  color: var(--primary-color);
}
.rs-header__menu .menu__more > a svg path {
  fill: var(--font-color);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-header__menu .menu__more:hover > a svg path {
    fill: var(--primary-color);
  }
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__more .menu__dropdown_list > li > .menu__dropdown_list {
    top: -15px;
    right: 100%;
    left: auto;
  }
}
@media (min-width: 991.98px) and (any-hover: hover) {
  .rs-header__menu .menu__dropdown:hover > .menu__dropdown_list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__dropdown._open-menu > .menu__dropdown_list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@media (max-width: 991.98px) {
  .rs-header__menu .menu__dropdown._open-menu > i::before, .rs-header__menu .menu__dropdown._open-menu > button::before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .rs-header__menu .menu__dropdown._open-menu > .menu__dropdown_list {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .rs-header__menu .menu__dropdown._block-menu > .menu__dropdown_list {
    overflow: hidden;
  }
}
.rs-header__menu .menu__dropdown_list {
  position: absolute;
  z-index: 111;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #fff;
  display: block;
  width: 100%;
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__dropdown_list {
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
    top: 100%;
    left: -25px;
    min-width: 312px;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 8px 8px;
    -webkit-box-shadow: 9px 11px 29px 0 rgba(125, 138, 152, 0.15);
            box-shadow: 9px 11px 29px 0 rgba(125, 138, 152, 0.15);
    padding: 20px 0px;
  }
  .rs-header__menu .menu__dropdown_list li > .menu__dropdown_list {
    border-radius: 8px;
    top: -20px;
    left: 100%;
  }
}
@media (max-width: 991.98px) {
  .rs-header__menu .menu__dropdown_list {
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    scrollbar-width: none;
    max-height: calc(100vh - 78px);
    min-height: calc(100vh - 78px);
  }
  .rs-header__menu .menu__dropdown_list > * {
    padding: 20px 16px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .rs-header__menu .menu__dropdown_list {
    max-height: calc(100vh - 54px);
    min-height: calc(100vh - 54px);
  }
}
.rs-header__menu .menu__dropdown_list .menu__contact {
  border-top: 1px solid #d4d7e5;
}
.rs-header__menu .menu__dropdown_list .switch-back {
  padding: 0;
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__dropdown_list .switch-back {
    display: none;
  }
}
.rs-header__menu .menu__dropdown_list .switch-back > button, .rs-header__menu .menu__dropdown_list .switch-back > a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 14px;
  font-weight: 600;
  font-size: 16px;
  height: auto;
  border-bottom: 1px solid #d4d7e5;
  position: relative;
}
.rs-header__menu .menu__dropdown_list .switch-back > button::before, .rs-header__menu .menu__dropdown_list .switch-back > a::before {
  content: "";
  position: absolute;
  left: 36px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/caret-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .rs-header__menu .menu__dropdown_list .switch-back > button::before, .rs-header__menu .menu__dropdown_list .switch-back > a::before {
    left: 16px;
  }
}
@media (min-width: 991.98px) {
  .rs-header__menu .menu__dropdown_list li > a {
    padding: 6px 24px;
  }
}
@media (max-width: 991.98px) {
  .rs-header__menu .menu__dropdown_list li {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.rs-header__search {
  z-index: 110;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: width 0.6s cubic-bezier(0.77, 0, 0.175, 1), border-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.4s, background-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
  transition: width 0.6s cubic-bezier(0.77, 0, 0.175, 1), border-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.4s, background-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
}
@media (min-width: 991.98px) {
  .rs-header__search {
    top: 0px;
    left: -25px;
    width: 0%;
    z-index: 100;
    position: absolute;
    border-radius: 23px;
  }
  .search-open .rs-header__search {
    width: calc(100% + 10px);
    border-color: var(--primary-color);
    background-color: #fff;
    -webkit-transition: width 0.6s cubic-bezier(0.77, 0, 0.175, 1), border-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s, background-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: width 0.6s cubic-bezier(0.77, 0, 0.175, 1), border-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s, background-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  }
}
@media (min-width: 991.98px) and (max-width: 1569.98px) {
  .rs-header__search {
    left: 0px;
  }
  .search-open .rs-header__search {
    width: calc(100% - 5px);
  }
}
@media (max-width: 991.98px) {
  .rs-header__search {
    background: #f2f4f9;
    padding: 20px 36px;
  }
}
@media (max-width: 991.98px) and (max-width: 767.98px) {
  .rs-header__search {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.rs-header__search .search__block {
  width: 100%;
}
@media (max-width: 991.98px) {
  .rs-header__search .search__block {
    background-color: #fff;
    border-radius: 23px;
    width: 100%;
    margin: 0 auto;
  }
}
.rs-header__search .search__form {
  width: 100%;
}
.rs-header__search .search__wrapper {
  overflow: hidden;
}
.rs-header__search .search__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 3px 4px 20px;
}
@media (max-width: 1569.98px) {
  .rs-header__search .search__line {
    padding: 2.5px 3px 2.5px 20px;
  }
}
.rs-header__search .search__line > h5 {
  margin-right: 3px;
}
@media (max-width: 991.98px) {
  .rs-header__search .search__line > h5 {
    display: none;
  }
}
.rs-header__search .search__input {
  width: 100%;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--font-color);
  background-color: transparent;
}
@media (max-width: 1569.98px) {
  .rs-header__search .search__input {
    font-size: 14px;
  }
}
@media (max-width: 1169.98px) {
  .rs-header__search .search__input {
    font-size: 13px;
  }
}
.rs-header__search .search__input::-webkit-input-placeholder {
  color: #383b56;
}
.rs-header__search .search__input::-moz-placeholder {
  color: #383b56;
}
.rs-header__search .search__input:-ms-input-placeholder {
  color: #383b56;
}
.rs-header__search .search__input::-ms-input-placeholder {
  color: #383b56;
}
.rs-header__search .search__input::placeholder {
  color: #383b56;
}
.rs-header__search .search__clear {
  display: none;
  margin-right: 10px;
}
@media (min-width: 991.98px) {
  .search-3 .rs-header__search .search__clear {
    margin-left: -24px;
    margin-top: 0px;
  }
}
.rs-header__search .search__submit {
  min-width: 42px;
  min-height: 42px;
  max-width: 42px;
  max-height: 42px;
  border-radius: 50%;
  background: var(--primary-color);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rs-header__search .search__submit svg {
  width: 18px;
  height: 18px;
}
.rs-header__search .search__close {
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  margin: 0px 0px 0px auto;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #e8e9f3;
}
@media (max-width: 991.98px) {
  .rs-header__search .search__close {
    display: none;
  }
}
.rs-header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 991.98px) {
  .rs-header__actions {
    margin: 0px 0px 0px auto;
  }
}
@media (max-width: 991.98px) {
  .rs-header__actions {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 0px auto;
  }
  .rs-header__actions .rs-btn {
    display: none;
  }
}
.rs-header__search-btn {
  margin-right: 15px;
  min-width: 42px;
  max-width: 42px;
  height: 42px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f4f6f7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #386378;
}
.rs-header__search-btn svg {
  width: 18px;
  height: 18px;
}
@media (any-hover: hover) {
  .rs-header__search-btn:hover {
    background: var(--primary-color);
    color: #fff;
  }
}
@media (max-width: 991.98px) {
  .rs-header__search-btn {
    display: none;
  }
}
.rs-header__phone {
  font-weight: 800;
  font-size: 14px;
  margin-right: 15px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .rs-header__phone:hover {
    color: var(--primary-color);
  }
}
@media (max-width: 1169.98px) {
  .rs-header__phone {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .rs-header__social {
    margin: 0px 0px 0px auto;
  }
}
@media (max-width: 991.98px) {
  .rs-header__social {
    background-color: #eceeef;
    width: 100%;
    max-width: 768px;
    max-width: 100%;
    padding: 20px 36px;
  }
}
@media (max-width: 991.98px) and (max-width: 767.98px) {
  .rs-header__social {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.rs-header__social .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .rs-header__social .social__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 482px;
    margin: 0 auto;
  }
}
.rs-header__social .social__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.rs-header__social .social__list li:not(:last-child) {
  margin: 0 24px 0 0;
}
@media (max-width: 1439.98px) {
  .rs-header__social .social__list li:not(:last-child) {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 1169.98px) {
  .rs-header__social .social__list li:not(:last-child) {
    margin: 0 15px 0 0;
  }
}
@media (max-width: 991.98px) {
  .rs-header__social .social__list li:not(:last-child) {
    margin: 0 30px 0 0;
  }
}
.rs-header__social .social__list li svg,
.rs-header__social .social__list li img {
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 991.98px) {
  .rs-header__social .social__list li svg,
  .rs-header__social .social__list li img {
    width: 30px;
    height: 30px;
  }
}
.rs-header__social .social__list li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  position: relative;
}
@media (any-hover: hover) {
  .rs-header__social .social__list li a:hover::after {
    width: 100%;
    left: 0;
  }
}
@media (min-width: 991.98px) {
  .rs-header__social .social__list li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 1px;
    background-color: currentColor;
    -webkit-transition: width 0.3s ease 0s;
    transition: width 0.3s ease 0s;
  }
}
@media (max-width: 991.98px) {
  .rs-header__social .social__list li a {
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
  }
}
.rs-header .rs-btn {
  font-size: 14px;
  padding: 12px 16px;
}