@font-face {
  font-family: "Vela Sans";
  src: url("../fonts/VelaSans-Medium.woff2") format("woff2"), url("../fonts/VelaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vela Sans";
  src: url("../fonts/VelaSans-Bold.woff2") format("woff2"), url("../fonts/VelaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vela Sans";
  src: url("../fonts/VelaSans-ExtraBold.woff2") format("woff2"), url("../fonts/VelaSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vela Sans";
  src: url("../fonts/VelaSans-SemiBold.woff2") format("woff2"), url("../fonts/VelaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vela Sans";
  src: url("../fonts/VelaSans-Regular.woff2") format("woff2"), url("../fonts/VelaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --bg-color: #fff;
  --font-color: #242628;
  --primary-color: #00a2de;
  --second-color: #363b49;
  --gray: #eceeef;
  --icons-color-dark: #0b0f19;
  --icon-vk: #4c75a3;
  --icon-tg: #00a2de;
  --icon-wa: #25d366;
  --primary-font: "Vela Sans", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
*::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  background: #f5f5f5;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--primary-color) var(--bg-color);
    scrollbar-width: thin;
  }
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 0.521vw;
}
@media screen and (max-width: 1439.98px) {
  body,
  html {
    font-size: 0.5435vw;
  }
}
@media screen and (max-width: 1169.98px) {
  body,
  html {
    font-size: 0.65vw;
  }
}
@media screen and (max-width: 991.98px) {
  body,
  html {
    font-size: 1.1vw;
  }
}
@media screen and (max-width: 767.98px) {
  body,
  html {
    font-size: 1.55vw;
  }
}
@media screen and (max-width: 539.98px) {
  body,
  html {
    font-size: 2.5vw;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

body {
  color: var(--font-color);
  line-height: 1;
  font-family: var(--primary-font);
  font-size: 10px;
  background: var(--bg-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: var(--primary-font);
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  width: 100%;
  max-width: 1376px;
  padding-left: 16px;
  padding-right: 16px;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

section {
  margin: 80px 0;
}
@media (max-width: 991.98px) {
  section {
    margin: 50px 0px;
  }
}

.section-header {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .section-header {
    margin-bottom: 16px;
  }
}
.section-header__title {
  max-width: 745px;
}
@media (max-width: 991.98px) {
  .section-header__title {
    max-width: 100%;
  }
}
@media (max-width: 991.98px) {
  .section-header > .rs-btn {
    display: none;
  }
}

.section-footer {
  margin-top: 16px;
}
@media (min-width: 991.98px) {
  .section-footer {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .section-footer {
    width: 100%;
  }
  .section-footer .rs-btn {
    width: 100%;
  }
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
}
@media (max-width: 1439.98px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 1439.98px) {
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
}
@media (max-width: 1439.98px) {
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 1439.98px) {
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 991.98px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
}
@media (max-width: 1439.98px) {
  h3 {
    font-size: 28px;
  }
}
@media (max-width: 1439.98px) {
  h3 {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
}
@media (max-width: 1439.98px) {
  h4 {
    font-size: 20px;
  }
}
@media (max-width: 1169.98px) {
  h4 {
    font-size: 16px;
  }
}

h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
}
@media (max-width: 1439.98px) {
  h5 {
    font-size: 18px;
  }
}
@media (max-width: 1169.98px) {
  h5 {
    font-size: 14px;
  }
}

h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@media (max-width: 1439.98px) {
  p {
    font-size: 14px;
  }
}

.rs-btn {
  text-transform: none;
  cursor: pointer;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 10;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  padding: 18px 24px;
  border-radius: 8px;
  gap: 6px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 991.98px) {
  .rs-btn {
    font-size: 14px;
    padding: 12px 16px;
  }
}
.rs-btn svg path {
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
}
.rs-btn._btn-primary {
  color: #fff;
  background-color: var(--primary-color);
}
@media (any-hover: hover) {
  .rs-btn._btn-primary:hover {
    background-color: #314b65;
    color: #fff;
  }
}
.rs-btn._btn-primary-border {
  border-color: var(--primary-color);
  background-color: #fff;
}
@media (any-hover: hover) {
  .rs-btn._btn-primary-border:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
}
.rs-btn._btn-white {
  background-color: #fff;
}
@media (any-hover: hover) {
  .rs-btn._btn-white:hover {
    background-color: #314b65;
    color: #fff;
  }
}

.rs-link {
  text-transform: none;
  cursor: pointer;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  text-align: center;
  color: #171717;
  gap: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 5px 0px;
}
@media (any-hover: hover) {
  .rs-link:hover {
    color: var(--primayr-color);
  }
}
.rs-link span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: currentColor;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rs-link svg {
  width: 14px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (any-hover: hover) {
  .rs-link:hover span:after {
    width: 100%;
    left: 0;
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-prev:active, .swiper-button-prev:focus,
.swiper-button-next:active,
.swiper-button-next:focus {
  outline: none !important;
}
.swiper-button-prev::-moz-focus-inner,
.swiper-button-next::-moz-focus-inner {
  border: 0 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
}

.swiper-pagination-bullet:active, .swiper-pagination-bullet:focus {
  outline: none !important;
}
.swiper-pagination-bullet::-moz-focus-inner {
  border: 0 !important;
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-lock {
  display: none !important;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
}
@media (max-width: 1439.98px) {
  .swiper-action {
    margin-top: 16px;
  }
}
@media (max-width: 991.98px) {
  .swiper-action {
    display: none;
  }
}
.swiper-action .swiper-horizontal > .swiper-pagination-bullets,
.swiper-action .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-action .swiper-pagination-custom,
.swiper-action .swiper-pagination-fraction {
  display: block;
}
.swiper-action .swiper-pagination {
  margin-right: 8px;
}
.swiper-action .swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-action .swiper-navigation .swiper-button-prev:not(:last-child),
.swiper-action .swiper-navigation .swiper-button-next:not(:last-child) {
  margin-right: 8px;
}
.swiper-action .swiper-horizontal > .swiper-pagination-bullets,
.swiper-action .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-action .swiper-pagination-custom,
.swiper-action .swiper-pagination-fraction {
  margin-top: 0px;
}
.swiper-action .swiper-pagination {
  text-align: center;
}
.swiper-action .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-action .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}
.swiper-action .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--primary-opacity-color);
  position: relative;
}
.swiper-action .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.swiper-action .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}
.swiper-action .swiper-pagination-bullet-active::after {
  background-color: var(--primary-color);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
  left: 0;
  width: auto;
  margin-top: 24px;
  margin-left: -7.5px;
}
@media (max-width: 1439.98px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    margin-top: 16px;
  }
}
@media (max-width: 991.98px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    display: none;
  }
}

.swiper-pagination {
  position: relative;
  text-align: left;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7.5px;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 800px;
  background-color: #b4b7c9;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
@media (any-hover: hover) {
  .swiper-pagination-bullet:hover {
    background-color: var(--primary-color);
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--primary-color);
  width: 24px;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: 0%;
  width: 46px;
  height: 46px;
  margin-top: 0px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  background-color: #f4f6f7;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 14px;
  height: 14px;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
.swiper-button-next svg path,
.swiper-button-prev svg path {
  stroke: var(--second-color);
  -webkit-transition: stroke 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: stroke 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
.swiper-button-next svg:last-child,
.swiper-button-prev svg:last-child {
  opacity: 0;
}
@media (any-hover: hover) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: var(--primary-color);
  }
  .swiper-button-next:hover svg path,
  .swiper-button-prev:hover svg path {
    stroke: #fff;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0px;
  right: 0px;
}
.swiper-button-prev svg:last-child,
.swiper-rtl .swiper-button-next svg:last-child {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
@media (any-hover: hover) {
  .swiper-button-prev:hover svg:first-child,
  .swiper-rtl .swiper-button-next:hover svg:first-child {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  .swiper-button-prev:hover svg:last-child,
  .swiper-rtl .swiper-button-next:hover svg:last-child {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px;
  left: 0px;
}
.swiper-button-next svg:last-child,
.swiper-rtl .swiper-button-prev svg:last-child {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media (any-hover: hover) {
  .swiper-button-next:hover svg:first-child,
  .swiper-rtl .swiper-button-prev:hover svg:first-child {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  .swiper-button-next:hover svg:last-child,
  .swiper-rtl .swiper-button-prev:hover svg:last-child {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: block;
  pointer-events: none;
}
@media (max-width: 992px) {
  .cursor {
    display: none;
  }
}
.cursor__point-zero {
  position: relative;
  width: 0;
  height: 0;
}
.cursor__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 0px;
  height: 0px;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: var(--primary-color);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out, height 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656), width 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656);
  transition: opacity 0.3s ease-in-out, height 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656), width 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656);
}
.cursor.cursor__active .cursor__circle {
  width: 94px;
  height: 94px;
  opacity: 1;
}
.cursor.cursor__active .cursor__circle.cursor__circle__drag {
  width: 80px;
  height: 80px;
}