@font-face {
    font-family: 'Vela Sans';
    src: url('../fonts/VelaSans-Medium.woff2') format('woff2'),
        url('../fonts/VelaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('../fonts/VelaSans-Bold.woff2') format('woff2'),
        url('../fonts/VelaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('../fonts/VelaSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/VelaSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('../fonts/VelaSans-SemiBold.woff2') format('woff2'),
        url('../fonts/VelaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('../fonts/VelaSans-Regular.woff2') format('woff2'),
        url('../fonts/VelaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

